/* Styles for form pages */

fieldset {
    width: 400px;
    background-color: floralwhite;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-family: Georgia, Times, serif;  
}

input[type=checkbox] {
    margin-left: 25px;
}

#emailaddy { width: 250px;}